@import "reset.scss";

body {
	font-family: sans-serif, Arial, Helvetica;
	height: 100vh;
	background: url("../img/background-p2.webp") no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	background-color: rgb(85, 138, 243);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20%;
	box-shadow: 0 5px 10px rgb(58, 58, 244);
}

.container .logo {
	width: 80px;
	transition: 0.5s;
}

.container .logo:hover {
	transform: scale(1.2);
}

.nav {
	ul li {
		position: relative;
		float: left;

		a {
			padding: 15px;
			color: black;
			font-size: 20px;
			font-weight: bold;
			display: block;
			transition: 0.5s;
		}
		a:hover {
			color: white;
			transform: scale(1.1);
		}
		ul {
			position: absolute;
			left: 0;
			width: 180px;
			background-color: rgb(79, 101, 244);
			display: none;
			
			li {
				width: 100%;
				border: 1px solid rgba(0, 0, 0, 0.1);
				ul {
					left: 180px;
					top: 0px;
				}
			}
		}
	}
}

ul li:hover > ul {
	display: initial;
}
